.cartForm{
    border-style: solid;
    font-size: 2rem;
    color: black;
    position: relative;
    width: 35%;
    height: 500px;
    margin-top: 5%;
    margin-left: 32%;
    background-color:white;
    font-family:cursive;
    color:black;
    border-color:black;
}
#products{
    color: black;
}