.cartForm{
    border-style: solid;
    font-size: 2rem;
    color: black;
    position: relative;
    width: 55%;
    height: 500px;
    margin-top: 5%;
    margin-left: 22%;
    background-color:rgb(216, 216, 216);
    font-family:cursive;
    color:black;
    border-color:black;
}

#check{
    color: black;
    font-weight: 400;
}
